*.iml
.gradle
gradlew
gradlew.bat
gradle
local.properties
.idea
.DS_Store
build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/android/build/
/android/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/android/build/intermediates/javac/debugUnitTest/compileDebugUnitTestJavaWithJavac/classes/
/core/build/
/core/build/classes/java/main/
/core/build/classes/java/test/